<% if (page.tags && page.tags.data && page.tags.data.find(tag => tag.name ===
'typescript')) { %>
<hr />
<p class="f5 bg-dark-gray br3 pa3 white">
  Did you like this TypeScript article? I bet you'll also like my course!<br />
  <a href="https://typescriptmasterclass.com">
    ⭐️ Advanced TypeScript E-book ⭐️
  </a>
</p>
<% } %>
