<% if (page.tags && page.tags.data && page.tags.data.find(tag => tag.name === 'typescript')) { %>
<hr/>
<p style="font-size: larger">
  <strong>
    Did you like this TypeScript article? I bet you'll also like my free PDF: <br />
    <a href="https://typescriptmasterclass.com">
      ⭐️ 10 TypeScript mistakes that ruin safety of your code ⭐️
    </a>
  </strong>
</p>
<% } %>