<hr class="dn-l mw4 black-50 mt5" />

<%- partial('_partial/widget-about') %>

<hr class="dn-l mw4 black-50 mt5" />

<div class="mt5 tc tl-l">
  <h3>Free download</h3>
  <a href="http://typescriptmasterclass.com/10tips" target="_blank"
    ><img src="/images/10tips.png"
  /></a>
</div>

<hr class="dn-l mw4 black-50 mt5" />
